/* Estilos generales */
body {
 	font-size: 16px;
    padding-top: 72px;
}
h2 {
	text-align: center;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 2rem;
    margin: 15px 0;
    font-weight: 700;
}
h4 {
	font-size: 2rem;
    margin: 10px 0 15px;
    font-weight: 700;
}
.btn-primary {
    color: #fff;
    background-color: #4b4e96;
    border: 0;
    border-radius: 3px;
    padding: 7px 15px;
}
.donacion {
	position: fixed;
	bottom: 30px;
	right: 0;
    z-index: 3;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
}
.donacion a,
.btn-donacion {
	display: inline-block;
	background-color: #FF9800;
    padding: 12px 15px;
	color: #ffffff;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.8rem;
        border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.donacion a:hover,
.btn-donacion:hover {
	text-decoration: none;
    color: #ffffff;
	background-color: #037b22;
}
.donacion i,
.btn-donacion i {
	padding-right: 5px;
     font-size: 1.3em;
	}
.btn-donacion {
    border-radius: 5px;
    margin: 50px 0 20px;
}
a:focus {
    color: #ffffff;
    text-decoration: none;
}
@media (max-width: 768px) {
    .btn-donacion {
        font-size: 14px;
    }
}
/* Estilos navbar*/
.navbar {
	background-color:#ffffff;
        height: 72px;
}
.navbar-brand span {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #4c4e96;
}
.navbar-brand > img {
	display: inline-block;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
	background-color: #4c4e96;
	color: #ffffff;
}

.nav>li>a {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-toggle {
    margin:19px;
}
.navbar-default .navbar-collapse {
    background: #ffffff;
    border-bottom: 1px solid #e7e7e7
    }
.navbar-nav {
    margin: 0 -15px;
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}
/* Estilos slider*/
.carousel-caption {
    right: 20%;
    left: 13%;
    padding-bottom: 0;
    top: 25%;
    bottom: auto;
    max-width: 360px;
    text-align: left;
    background:rgba(0,3,78,0.75);
    padding: 20px;
    border-radius: 10px;
}
.carousel-caption h2 {
    text-align: left;
    margin: 0;
}
.carousel-caption p {
    padding: 10px 0;
}
.carousel-inner img {
	display: block;
	width: 100%;
}
@media (max-width: 768px) {
    .carousel-caption {
        display: none;
    }
}
/* Estilos introduccion*/
.intro {
	padding:50px 0;
}
.intro .bienvenido,
.intro h2 {
	text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
.intro h3 {
    color: #4b4e96;
}
/*Estilos destacados*/
.destacado {
	background-color: #dddddd;
    padding: 50px 0;
}
.thumbnail {
	background: none;
	border: 0;
}
.caption p {
	font-size: 1.3rem;
}
/*Estilos noticias*/
.noticia {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
}
.blog {
    padding:50px 0;
    background: #f6f6f6;
}
.blog h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}
.blog h3 {
    color: #4b4e96;
}
.blog .fecha {
    color: #959595;
    font-style: italic;
}
.blog img {
    width: 100%;
}
.blog input {
        display: inline-block;
    height: 36px;
    padding: 5px;
    border: 1px solid #dbdbdb;
    width: 180px;
}
/* Estilos footer */
footer {
	padding:30px 0;
    background-color: #2f2f2f;
    color: #ffffff;
}
footer input {
	margin-bottom: 10px;
    border: 0;
    padding: 7px;
    border-radius: 3px;
    background: #434343;
    display: block;
    width: 100%;
    outline: none;
}
footer  p {
	margin-top: 10px;
}
footer ul {
	padding: 0;
}
footer li {
    display: inline-block;
    padding-right: 20px;
}
footer li a {
	color: #ffffff;
    font-size: 2.5rem;
}